In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
import getpass
import os

In [2]:
print('Enter AWS Endpoint:')
endpoint = getpass.getpass()

Enter AWS Endpoint:
········

In [3]:
print('Enter AWS Database Password: ')
aws_pass = getpass.getpass()

Enter AWS Database Password:
········

In [4]:
postgres = 'postgres'

In [5]:
db_string = f"postgresql+psycopg2://{postgres}:{aws_pass}@{endpoint}:5432/bootcampfinalproject_accidents"
engine = sqlalchemy.create_engine(db_string)
con = engine.connect()

In [6]:
table = sqlalchemy.Table('US_Accidents_Dec20_Updated', sqlalchemy.MetaData(bind=None), autoload=True, autoload_with=engine)
statement = sqlalchemy.select([table])

In [7]:
x = con.execute(statement)

In [8]:
data = x.fetchall()

In [9]:
cols = x.keys()

In [11]:
accident_df = pd.DataFrame(data = data, columns = cols)
accident_df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-988426,2,2020-09-22 11:54:00,2020-09-22 18:48:00,34.053044,-118.228279,34.076264,-118.277804,3.257,Queuing traffic on US-101 from I-10 (US-101) t...,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-988427,2,2018-09-11 15:58:56,2018-09-11 16:28:17,32.718935,-117.102798,32.718935,-117.102798,0.000,At I-805 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-988428,2,2020-12-08 05:27:00,2020-12-08 08:44:00,33.249751,-86.217181,33.251015,-86.215784,0.119,Incident on AL-21 NB near MM 215 Road closed. ...,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-988429,2,2017-02-06 13:07:44,2017-02-06 19:07:44,34.125076,-118.476775,34.111958,-118.482242,0.959,At Skirball Center Dr/Exit 61 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
4,A-988430,1,2020-06-26 10:28:00,2020-06-26 10:43:00,29.927620,-90.028270,29.927620,-90.028270,0.000,At MacArthur Blvd/Westbend Pky - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [12]:
accident_df.dtypes

ID                        object
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Number                   float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object