In [1]:
# This notebook pulls Land Area data from the government census bureau since they didn't have a download button.
# We are going to use this data to determine the road density of a state by comparing its land area with the 
# distance of roadways calculated in the Road_Data.ipynb file

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
target = 'https://www.census.gov/geographies/reference-files/2010/geo/state-area.html'

In [4]:
whole_page = requests.get(target).content
soup = BeautifulSoup(whole_page)

In [5]:
#confirming there is only one table to scrape on this page so we don't miss the mark
len(soup.find_all('table'))

1

In [6]:
table = soup.find('table')
rows = table.find_all('tr')

In [7]:
len(rows)

65

In [8]:
# 3 rows of headers, data starts at 3, headers will be manually added because this is a mess
rows[3]

<tr><td><strong>Total<sup><a href="https://www.census.gov/geo/reference/state-area.html#n3">3</a></sup></strong></td>
<td><strong>3,805,927</strong></td>
<td><strong>9,857,306</strong></td>
<td><strong>3,535,932</strong></td>
<td><strong>9,158,022</strong></td>
<td><strong>269,995</strong></td>
<td><strong>699,284</strong></td>
<td><strong>85,763</strong></td>
<td><strong>222,125</strong></td>
<td><strong>42,371</strong></td>
<td><strong>109,742</strong></td>
<td><strong>60,094</strong></td>
<td><strong>155,643</strong></td>
<td><strong>81,767</strong></td>
<td><strong>211,774</strong></td>
<td><br/></td>
<td><br/></td>
</tr>

In [9]:
matrix_out = {}
for i in rows[3:]:
    cells = i.find_all('td')
    
    for j,k in enumerate(cells[:5]):
        try:
            matrix_out[j].append(k.text)
        except:
            matrix_out[j] = []
            matrix_out[j].append(k.text)

In [10]:
matrix_out

{0: ['Total3',
  '',
  'United States4',
  'Alabama',
  'Alaska',
  'Arizona',
  'Arkansas',
  'California',
  'Colorado',
  'Connecticut',
  'Delaware',
  'District of Columbia',
  'Florida',
  'Georgia',
  'Hawaii',
  'Idaho',
  'Illinois',
  'Indiana',
  'Iowa',
  'Kansas',
  'Kentucky',
  'Louisiana',
  'Maine',
  'Maryland',
  'Massachusetts',
  'Michigan',
  'Minnesota',
  'Mississippi',
  'Missouri',
  'Montana',
  'Nebraska',
  'Nevada',
  'New Hampshire',
  'New Jersey',
  'New Mexico',
  'New York',
  'North Carolina',
  'North Dakota',
  'Ohio',
  'Oklahoma',
  'Oregon',
  'Pennsylvania',
  'Rhode Island',
  'South Carolina',
  'South Dakota',
  'Tennessee',
  'Texas',
  'Utah',
  'Vermont',
  'Virginia',
  'Washington',
  'West Virginia',
  'Wisconsin',
  'Wyoming',
  '',
  'Puerto Rico',
  '',
  'Island Areas:5',
  'American Samoa',
  'Guam',
  'Northern Mariana Islands',
  'U.S. Virgin Islands'],
 1: ['3,805,927',
  '',
  '3,796,742',
  '52,420',
  '665,384',
  '113,990',
  '53,179',
  '163,695',
  '104,094',
  '5,543',
  '2,489',
  '68',
  '65,758',
  '59,425',
  '10,932',
  '83,569',
  '57,914',
  '36,420',
  '56,273',
  '82,278',
  '40,408',
  '52,378',
  '35,380',
  '12,406',
  '10,554',
  '96,714',
  '86,936',
  '48,432',
  '69,707',
  '147,040',
  '77,348',
  '110,572',
  '9,349',
  '8,723',
  '121,590',
  '54,555',
  '53,819',
  '70,698',
  '44,826',
  '69,899',
  '98,379',
  '46,054',
  '1,545',
  '32,020',
  '77,116',
  '42,144',
  '268,596',
  '84,897',
  '9,616',
  '42,775',
  '71,298',
  '24,230',
  '65,496',
  '97,813',
  '',
  '5,325',
  '',
  '3,860',
  '581',
  '571',
  '1,976',
  '733'],
 2: ['9,857,306',
  '',
  '9,833,517',
  '135,767',
  '1,723,337',
  '295,234',
  '137,732',
  '423,967',
  '269,601',
  '14,357',
  '6,446',
  '177',
  '170,312',
  '153,910',
  '28,313',
  '216,443',
  '149,995',
  '94,326',
  '145,746',
  '213,100',
  '104,656',
  '135,659',
  '91,633',
  '32,131',
  '27,336',
  '250,487',
  '225,163',
  '125,438',
  '180,540',
  '380,831',
  '200,330',
  '286,380',
  '24,214',
  '22,591',
  '314,917',
  '141,297',
  '139,391',
  '183,108',
  '116,098',
  '181,037',
  '254,799',
  '119,280',
  '4,001',
  '82,933',
  '199,729',
  '109,153',
  '695,662',
  '219,882',
  '24,906',
  '110,787',
  '184,661',
  '62,756',
  '169,635',
  '253,335',
  '',
  '13,791',
  '',
  '9,998',
  '1,505',
  '1,478',
  '5,117',
  '1,898'],
 3: ['3,535,932',
  '',
  '3,531,905',
  '50,645',
  '570,641',
  '113,594',
  '52,035',
  '155,779',
  '103,642',
  '4,842',
  '1,949',
  '61',
  '53,625',
  '57,513',
  '6,423',
  '82,643',
  '55,519',
  '35,826',
  '55,857',
  '81,759',
  '39,486',
  '43,204',
  '30,843',
  '9,707',
  '7,800',
  '56,539',
  '79,627',
  '46,923',
  '68,742',
  '145,546',
  '76,824',
  '109,781',
  '8,953',
  '7,354',
  '121,298',
  '47,126',
  '48,618',
  '69,001',
  '40,861',
  '68,595',
  '95,988',
  '44,743',
  '1,034',
  '30,061',
  '75,811',
  '41,235',
  '261,232',
  '82,170',
  '9,217',
  '39,490',
  '66,456',
  '24,038',
  '54,158',
  '97,093',
  '',
  '3,424',
  '',
  '603',
  '76',
  '210',
  '182',
  '134'],
 4: ['9,158,022',
  '',
  '9,147,593',
  '131,171',
  '1,477,953',
  '294,207',
  '134,771',
  '403,466',
  '268,431',
  '12,542',
  '5,047',
  '158',
  '138,887',
  '148,959',
  '16,635',
  '214,045',
  '143,793',
  '92,789',
  '144,669',
  '211,754',
  '102,269',
  '111,898',
  '79,883',
  '25,142',
  '20,202',
  '146,435',
  '206,232',
  '121,531',
  '178,040',
  '376,962',
  '198,974',
  '284,332',
  '23,187',
  '19,047',
  '314,161',
  '122,057',
  '125,920',
  '178,711',
  '105,829',
  '177,660',
  '248,608',
  '115,883',
  '2,678',
  '77,857',
  '196,350',
  '106,798',
  '676,587',
  '212,818',
  '23,871',
  '102,279',
  '172,119',
  '62,259',
  '140,268',
  '251,470',
  '',
  '8,868',
  '',
  '1,562',
  '198',
  '543',
  '472',
  '348']}

In [11]:
headers = ['State','Total_SqMi','Total_SqKm','LandArea_SqMi','LandArea_SqKm']
land_area_df = pd.DataFrame(data = matrix_out)
land_area_df.head()

                0          1          2          3          4
0          Total3  3,805,927  9,857,306  3,535,932  9,158,022
1
2  United States4  3,796,742  9,833,517  3,531,905  9,147,593
3         Alabama     52,420    135,767     50,645    131,171
4          Alaska    665,384  1,723,337    570,641  1,477,953

In [12]:
land_area_df.columns = headers
land_area_df = land_area_df[3:]

In [13]:
land_area_df

                       State Total_SqMi Total_SqKm LandArea_SqMi LandArea_SqKm
3                    Alabama     52,420    135,767        50,645       131,171
4                     Alaska    665,384  1,723,337       570,641     1,477,953
5                    Arizona    113,990    295,234       113,594       294,207
6                   Arkansas     53,179    137,732        52,035       134,771
7                 California    163,695    423,967       155,779       403,466
8                   Colorado    104,094    269,601       103,642       268,431
9                Connecticut      5,543     14,357         4,842        12,542
10                  Delaware      2,489      6,446         1,949         5,047
11      District of Columbia         68        177            61           158
12                   Florida     65,758    170,312        53,625       138,887
13                   Georgia     59,425    153,910        57,513       148,959
14                    Hawaii     10,932     28,313         6,423        16,635
15                     Idaho     83,569    216,443        82,643       214,045
16                  Illinois     57,914    149,995        55,519       143,793
17                   Indiana     36,420     94,326        35,826        92,789
18                      Iowa     56,273    145,746        55,857       144,669
19                    Kansas     82,278    213,100        81,759       211,754
20                  Kentucky     40,408    104,656        39,486       102,269
21                 Louisiana     52,378    135,659        43,204       111,898
22                     Maine     35,380     91,633        30,843        79,883
23                  Maryland     12,406     32,131         9,707        25,142
24             Massachusetts     10,554     27,336         7,800        20,202
25                  Michigan     96,714    250,487        56,539       146,435
26                 Minnesota     86,936    225,163        79,627       206,232
27               Mississippi     48,432    125,438        46,923       121,531
28                  Missouri     69,707    180,540        68,742       178,040
29                   Montana    147,040    380,831       145,546       376,962
30                  Nebraska     77,348    200,330        76,824       198,974
31                    Nevada    110,572    286,380       109,781       284,332
32             New Hampshire      9,349     24,214         8,953        23,187
33                New Jersey      8,723     22,591         7,354        19,047
34                New Mexico    121,590    314,917       121,298       314,161
35                  New York     54,555    141,297        47,126       122,057
36            North Carolina     53,819    139,391        48,618       125,920
37              North Dakota     70,698    183,108        69,001       178,711
38                      Ohio     44,826    116,098        40,861       105,829
39                  Oklahoma     69,899    181,037        68,595       177,660
40                    Oregon     98,379    254,799        95,988       248,608
41              Pennsylvania     46,054    119,280        44,743       115,883
42              Rhode Island      1,545      4,001         1,034         2,678
43            South Carolina     32,020     82,933        30,061        77,857
44              South Dakota     77,116    199,729        75,811       196,350
45                 Tennessee     42,144    109,153        41,235       106,798
46                     Texas    268,596    695,662       261,232       676,587
47                      Utah     84,897    219,882        82,170       212,818
48                   Vermont      9,616     24,906         9,217        23,871
49                  Virginia     42,775    110,787        39,490       102,279
50                Washington     71,298    184,661        66,456       172,119
51             West Virginia     24,230     62,756        24,038        62,259
52                 Wisconsin     65,496    169,635        54,158       140,268
53                   Wyoming     97,813    253,335        97,093       251,470
54
55               Puerto Rico      5,325     13,791         3,424         8,868
56
57            Island Areas:5      3,860      9,998           603         1,562
58            American Samoa        581      1,505            76           198
59                      Guam        571      1,478           210           543
60  Northern Mariana Islands      1,976      5,117           182           472
61       U.S. Virgin Islands        733      1,898           134           348

In [14]:
land_area_df = land_area_df.drop(labels = [54, 56])

In [15]:
for i in [j for j in land_area_df.columns if j != 'State']:
    land_area_df[i] = land_area_df[i].apply(lambda x: int(x.replace(',','')))

In [16]:
land_area_df

,State,Total_SqMi,Total_SqKm,LandArea_SqMi,LandArea_SqKm
3,Alabama,52420,135767,50645,131171
4,Alaska,665384,1723337,570641,1477953
5,Arizona,113990,295234,113594,294207
6,Arkansas,53179,137732,52035,134771
7,California,163695,423967,155779,403466
8,Colorado,104094,269601,103642,268431
9,Connecticut,5543,14357,4842,12542
10,Delaware,2489,6446,1949,5047
11,District of Columbia,68,177,61,158
12,Florida,65758,170312,53625,138887
13,Georgia,59425,153910,57513,148959
14,Hawaii,10932,28313,6423,16635
15,Idaho,83569,216443,82643,214045
16,Illinois,57914,149995,55519,143793
17,Indiana,36420,94326,35826,92789
18,Iowa,56273,145746,55857,144669
19,Kansas,82278,213100,81759,211754
20,Kentucky,40408,104656,39486,102269
21,Louisiana,52378,135659,43204,111898
22,Maine,35380,91633,30843,79883
23,Maryland,12406,32131,9707,25142
24,Massachusetts,10554,27336,7800,20202
25,Michigan,96714,250487,56539,146435
26,Minnesota,86936,225163,79627,206232
27,Mississippi,48432,125438,46923,121531
28,Missouri,69707,180540,68742,178040
29,Montana,147040,380831,145546,376962
30,Nebraska,77348,200330,76824,198974
31,Nevada,110572,286380,109781,284332
32,New Hampshire,9349,24214,8953,23187
33,New Jersey,8723,22591,7354,19047
34,New Mexico,121590,314917,121298,314161
35,New York,54555,141297,47126,122057
36,North Carolina,53819,139391,48618,125920
37,North Dakota,70698,183108,69001,178711
38,Ohio,44826,116098,40861,105829
39,Oklahoma,69899,181037,68595,177660
40,Oregon,98379,254799,95988,248608
41,Pennsylvania,46054,119280,44743,115883
42,Rhode Island,1545,4001,1034,2678
43,South Carolina,32020,82933,30061,77857
44,South Dakota,77116,199729,75811,196350
45,Tennessee,42144,109153,41235,106798
46,Texas,268596,695662,261232,676587
47,Utah,84897,219882,82170,212818
48,Vermont,9616,24906,9217,23871
49,Virginia,42775,110787,39490,102279
50,Washington,71298,184661,66456,172119
51,West Virginia,24230,62756,24038,62259
52,Wisconsin,65496,169635,54158,140268
53,Wyoming,97813,253335,97093,251470
55,Puerto Rico,5325,13791,3424,8868
57,Island Areas:5,3860,9998,603,1562
58,American Samoa,581,1505,76,198
59,Guam,571,1478,210,543
60,Northern Mariana Islands,1976,5117,182,472
61,U.S. Virgin Islands,733,1898,134,348

In [17]:
land_area_df.to_csv('output_tables/land_area_by_state_scraped.csv', index = False)

# Getting Weed Legalization
Another Dataset without a download so we're stealing it

In [18]:
target = 'https://disa.com/map-of-marijuana-legality-by-state'
page = requests.get(target).content

In [19]:
soup = BeautifulSoup(page)

In [20]:
#confirming there is only one table to scrape:
len(soup.find_all('table'))

1

In [21]:
table = soup.find('table')
rows = table.find_all('tr')

In [22]:
matrix_out = {}
for i in rows:
    cells = i.find_all('td')
    
    for j,k in enumerate(cells):
        try:
            matrix_out[j].append(k.text)
        except:
            matrix_out[j] = []
            matrix_out[j].append(k.text)

In [23]:
headers = table.find('thead').find_all('th')

In [24]:
weed_df = pd.DataFrame(data = matrix_out)
weed_df.columns = [i.text for i in headers]
for i in weed_df.columns:
    weed_df[i] = weed_df[i].str.replace('*','')
weed_df

<ipython-input-24-b4adaf83c39e>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  weed_df[i] = weed_df[i].str.replace('*','')

,State,Legal Status,Medicinal,Decriminalized,State Laws
0,Alabama,Mixed,Yes,No,View State Laws
1,Alaska,Fully Legal,Yes,Yes,View State Laws
2,Arizona,Fully Legal,Yes,Yes,View State Laws
3,Arkansas,Mixed,Yes,No,View State Laws
4,California,Fully Legal,Yes,Yes,View State Laws
5,Colorado,Fully Legal,Yes,Yes,View State Laws
6,Connecticut,Mixed,Yes,Yes,View State Laws
7,Delaware,Mixed,Yes,Yes,View State Laws
8,District of Columbia,Fully Legal,Yes,Yes,View State Laws
9,Florida,Mixed,Yes,No,View State Laws
10,Georgia,Mixed,CBD Oil Only,No,View State Laws
11,Hawaii,Mixed,Yes,Yes,View State Laws
12,Idaho,Fully Illegal,No,No,View State Laws
13,Illinois,Fully Legal,Yes,Yes,View State Laws
14,Indiana,Mixed,CBD Oil Only,No,View State Laws
15,Iowa,Mixed,CBD Oil Only,No,View State Laws
16,Kansas,Fully Illegal,No,No,View State Laws
17,Kentucky,Mixed,CBD Oil Only,No,View State Laws
18,Louisiana,Mixed,Yes,No,View State Laws
19,Maine,Fully Legal,Yes,Yes,View State Laws
20,Maryland,Mixed,Yes,Yes,View State Laws
21,Massachusetts,Fully Legal,Yes,Yes,View State Laws
22,Michigan,Fully Legal,Yes,Yes,View State Laws
23,Minnesota,Mixed,Yes,Yes,View State Laws
24,Mississippi,Mixed,Yes,Yes,View State Laws
25,Missouri,Mixed,Yes,Yes,View State Laws
26,Montana,Fully Legal,Yes,Yes,View State Laws
27,Nebraska,Fully Illegal,No,Yes,View State Laws
28,Nevada,Fully Legal,Yes,Yes,View State Laws
29,New Hampshire,Mixed,Yes,Yes,View State Laws
30,New Jersey,Fully Legal,Yes,Yes,View State Laws
31,New Mexico,Mixed,Yes,Yes,View State Laws
32,New York,Fully Legal,Yes,Yes,View State Laws
33,North Carolina,Fully Illegal,No,Yes,View State Laws
34,North Dakota,Mixed,Yes,Yes,View State Laws
35,Ohio,Mixed,Yes,Yes,View State Laws
36,Oklahoma,Mixed,Yes,No,View State Laws
37,Oregon,Fully Legal,Yes,Yes,View State Laws
38,Pennsylvania,Mixed,Yes,No,View State Laws
39,Rhode Island,Mixed,Yes,Yes,View State Laws
40,South Carolina,Fully Illegal,No,No,View State Laws
41,South Dakota,Fully Legal,Yes,Yes,View State Laws
42,Tennessee,Fully Illegal,No,No,View State Laws
43,Texas,Mixed,CBD Oil Only,No,View State Laws
44,Utah,Mixed,Yes,No,View State Laws
45,Vermont,Fully Legal,Yes,Yes,View State Laws
46,Virginia,Fully Legal,Yes,Yes,View State Laws
47,Washington,Fully Legal,Yes,Yes,View State Laws
48,West Virginia,Mixed,Yes,No,View State Laws
49,Wisconsin,Mixed,CBD Oil Only,No,View State Laws
50,Wyoming,Fully Illegal,No,No,View State Laws

In [26]:
weed_df.to_csv('output_tables/weed_legalization_raw_scraped.csv', index = False)