In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
florida_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "FL"]
florida_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...
10,2,2019-12-20 08:20:12,28.021709,-82.203583,Dover,FL,4499.0,Bethlehem Rd,Restrictions due to accident on US-92 at Bethl...
30,2,2020-12-24 03:08:00,25.684458,-80.445924,Miami,FL,NaN,SW 88th St,Incident on SW 88TH ST near SW 157TH AVE Drive...
43,2,2016-12-29 07:35:34,28.698406,-82.451477,Homosassa,FL,1101.0,W Oak Park Blvd,Accident on County Hwy-480 Oak Park Blvd at Co...
50,2,2020-11-30 17:40:30,26.613410,-80.068784,Lake Worth,FL,NaN,I-95 S,Slow traffic on I-95 S from 10th Ave/Exit 64 (...
...,...,...,...,...,...,...,...,...,...
2906584,2,2020-07-22 06:29:54,29.197100,-82.251602,Ocala,FL,706.0,NW 80th Ave,Restrictions due to accident on CR-225A 80th A...
2906593,2,2020-12-10 02:14:00,30.288995,-82.859219,Live Oak,FL,NaN,FL-8 W,Incident on I-10 WB near MM 289 Drive with cau...
2906601,3,2018-03-12 08:24:41,26.033428,-80.164490,Hollywood,FL,NaN,I-95 S,Lane blocked due to accident on I-95 Northboun...
2906604,2,2020-10-02 08:42:20,26.392847,-80.095268,Boca Raton,FL,NaN,I-95 S,Accident on I-95 Northbound near FL-794 Yamato...
2906607,2,2020-11-23 12:52:00,25.702200,-80.335556,Miami,FL,8798.0,SW 72nd St,Stationary traffic on County Hwy-913 - FL-986 ...

In [6]:
florida_df = florida_df.round(decimals=4)
florida_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
4,3,2016-08-31 17:40:49,26.1029,-80.2651,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...
10,2,2019-12-20 08:20:12,28.0217,-82.2036,Dover,FL,4499.0,Bethlehem Rd,Restrictions due to accident on US-92 at Bethl...
30,2,2020-12-24 03:08:00,25.6845,-80.4459,Miami,FL,NaN,SW 88th St,Incident on SW 88TH ST near SW 157TH AVE Drive...
43,2,2016-12-29 07:35:34,28.6984,-82.4515,Homosassa,FL,1101.0,W Oak Park Blvd,Accident on County Hwy-480 Oak Park Blvd at Co...
50,2,2020-11-30 17:40:30,26.6134,-80.0688,Lake Worth,FL,NaN,I-95 S,Slow traffic on I-95 S from 10th Ave/Exit 64 (...

In [8]:
florida_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263300 entries, 4 to 2906607
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Severity     263300 non-null  int64
 1   Date/Time    263300 non-null  object
 2   Latitude     263300 non-null  float64
 3   Longitude    263300 non-null  float64
 4   City         263286 non-null  object
 5   State        263300 non-null  object
 6   Number       104679 non-null  float64
 7   Street       263300 non-null  object
 8   Description  263300 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 20.1+ MB

In [9]:
florida_df['Number'] = florida_df['Number'].fillna(0)

In [10]:
florida_df['Number'] = florida_df['Number'].map("{:.0f}".format)

In [11]:
florida_df['Number'].replace({"0": ""}, inplace=True)

In [12]:
florida_df.to_csv('../State_csv_files/Florida.csv', encoding='UTF-8', index=False)