In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import json
import geojson

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
california_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "CA"]
california_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
7,2,2019-12-21 23:59:00,34.034017,-118.026972,Whittier,CA,NaN,CA-60 W,At CA-60/Pomona Fwy - Accident.
9,2,2019-01-30 08:44:18,34.426330,-118.585100,Valencia,CA,NaN,Golden State Fwy S,At Magic Mountain Pky - Accident. Hard shoulde...
16,2,2016-07-09 14:54:01,34.103172,-118.249969,Los Angeles,CA,NaN,CA-2 S,Accident on CA-2 Southbound at Exit 13 I-5.
17,2,2020-11-21 16:32:00,34.186595,-117.439427,Fontana,CA,3738.0,Sierra Ave,Incident on SIERRA AVE near LYTLE CREEK RD Exp...

In [6]:
california_sample_df = california_df.sample(2000)
california_sample_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
228966,2,2017-09-04 09:30:03,34.052155,-117.717728,Pomona,CA,11098.0,Kadota Ave,Accident on Kadota Ave between Grand Ave and 9...
1505558,2,2019-10-22 09:18:12,37.863491,-122.035759,Alamo,CA,NaN,I-680 S,Accident on I-680 Southbound at Exit 43 Livorn...
2424395,2,2019-12-27 15:59:00,39.157704,-123.631820,Philo,CA,NaN,Highway 128,At Boonville Ukiah Rd - Accident.
1022317,2,2020-05-29 15:36:00,33.854225,-117.790650,Anaheim,CA,NaN,S Imperial Hwy,At CA-90/Imperial Hwy - Accident.
230813,2,2020-04-04 22:12:00,37.535556,-122.075000,Fremont,CA,NaN,Bayfront Expy W,At Dumbarton Brg Toll Plaza - Accident.

In [7]:
california_sample_df = california_sample_df.round(decimals=4)
california_sample_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
228966,2,2017-09-04 09:30:03,34.0522,-117.7177,Pomona,CA,11098.0,Kadota Ave,Accident on Kadota Ave between Grand Ave and 9...
1505558,2,2019-10-22 09:18:12,37.8635,-122.0358,Alamo,CA,NaN,I-680 S,Accident on I-680 Southbound at Exit 43 Livorn...
2424395,2,2019-12-27 15:59:00,39.1577,-123.6318,Philo,CA,NaN,Highway 128,At Boonville Ukiah Rd - Accident.
1022317,2,2020-05-29 15:36:00,33.8542,-117.7906,Anaheim,CA,NaN,S Imperial Hwy,At CA-90/Imperial Hwy - Accident.
230813,2,2020-04-04 22:12:00,37.5356,-122.0750,Fremont,CA,NaN,Bayfront Expy W,At Dumbarton Brg Toll Plaza - Accident.

In [8]:
california_sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 228966 to 830998
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Severity     2000 non-null   int64
 1   Date/Time    2000 non-null   object
 2   Latitude     2000 non-null   float64
 3   Longitude    2000 non-null   float64
 4   City         2000 non-null   object
 5   State        2000 non-null   object
 6   Number       474 non-null    float64
 7   Street       2000 non-null   object
 8   Description  2000 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 156.2+ KB

In [9]:
california_sample_df['Number'] = california_sample_df['Number'].fillna(0)

In [10]:
california_sample_df['Number'] = california_sample_df['Number'].map("{:.0f}".format)

In [11]:
california_sample_df['Number'].replace({"0": ""}, inplace=True)

In [12]:
california_sample_df.reset_index(drop=True, inplace=True)
california_sample_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2017-09-04 09:30:03,34.0522,-117.7177,Pomona,CA,11098,Kadota Ave,Accident on Kadota Ave between Grand Ave and 9...
1,2,2019-10-22 09:18:12,37.8635,-122.0358,Alamo,CA,,I-680 S,Accident on I-680 Southbound at Exit 43 Livorn...
2,2,2019-12-27 15:59:00,39.1577,-123.6318,Philo,CA,,Highway 128,At Boonville Ukiah Rd - Accident.
3,2,2020-05-29 15:36:00,33.8542,-117.7906,Anaheim,CA,,S Imperial Hwy,At CA-90/Imperial Hwy - Accident.
4,2,2020-04-04 22:12:00,37.5356,-122.0750,Fremont,CA,,Bayfront Expy W,At Dumbarton Brg Toll Plaza - Accident.

In [13]:
california_sample_df.to_csv('../State_sample_csv/California_sample.csv', encoding='UTF-8', index=False)