In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
kansas_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "KS"]
kansas_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
209,3,2018-10-08 09:43:48,39.105335,-94.709862,Kansas City,KS,NaN,US-24 W,Right lane blocked due to accident on I-70 Wes...
287,3,2017-08-08 10:38:32,39.062382,-94.625900,Kansas City,KS,NaN,I-35 S,Right hand shoulder blocked due to accident on...
399,2,2016-07-18 09:15:32,38.935320,-94.720420,Overland Park,KS,NaN,US-50 W,At Quivira Rd/Exit 82 - Accident.
438,2,2016-10-24 10:04:20,38.935070,-94.733157,Lenexa,KS,NaN,US-50 W,At I-35/US-56/Exit 83 - Accident.
871,4,2017-12-31 19:48:14,39.113640,-94.892532,Bonner Springs,KS,836.0,N K 7 Hwy,Closed between US-24/US-40/US-73/State Ave and...
...,...,...,...,...,...,...,...,...,...
2904848,3,2018-11-04 21:51:03,39.051102,-94.790306,Kansas City,KS,9001.0,Woodend Rd,Right hand shoulder blocked due to accident on...
2904964,4,2020-12-28 16:54:54,39.887886,-99.703902,Almena,KS,25898.0,State Highway 383,Construction on KS-383 EB near US-36 Road clos...
2905055,2,2016-12-08 08:23:13,39.018380,-94.692950,Shawnee,KS,NaN,I-35 S,Between Johnson Dr/Exit 229 and 67th St/Exit 2...
2906197,3,2019-02-05 09:40:04,38.851580,-94.676880,Overland Park,KS,NaN,US-69 N,At 151st St - Accident. Lane blocked.
2906408,3,2020-06-18 09:48:40,38.990620,-94.700350,Overland Park,KS,NaN,US-169 S,At 75th St/Exit 227 - Accident. Right lane blo...

In [6]:
kansas_df = kansas_df.round(decimals=4)
kansas_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
209,3,2018-10-08 09:43:48,39.1053,-94.7099,Kansas City,KS,NaN,US-24 W,Right lane blocked due to accident on I-70 Wes...
287,3,2017-08-08 10:38:32,39.0624,-94.6259,Kansas City,KS,NaN,I-35 S,Right hand shoulder blocked due to accident on...
399,2,2016-07-18 09:15:32,38.9353,-94.7204,Overland Park,KS,NaN,US-50 W,At Quivira Rd/Exit 82 - Accident.
438,2,2016-10-24 10:04:20,38.9351,-94.7332,Lenexa,KS,NaN,US-50 W,At I-35/US-56/Exit 83 - Accident.
871,4,2017-12-31 19:48:14,39.1136,-94.8925,Bonner Springs,KS,836.0,N K 7 Hwy,Closed between US-24/US-40/US-73/State Ave and...

In [7]:
kansas_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7444 entries, 209 to 2906408
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Severity     7444 non-null   int64
 1   Date/Time    7444 non-null   object
 2   Latitude     7444 non-null   float64
 3   Longitude    7444 non-null   float64
 4   City         7444 non-null   object
 5   State        7444 non-null   object
 6   Number       528 non-null    float64
 7   Street       7444 non-null   object
 8   Description  7444 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 581.6+ KB

In [8]:
kansas_df['Number'] = kansas_df['Number'].fillna(0)

In [9]:
kansas_df['Number'] = kansas_df['Number'].map("{:.0f}".format)

In [10]:
kansas_df['Number'].replace({"0": ""}, inplace=True)

In [11]:
kansas_df.to_csv('../State_csv_files/Kansas.csv', encoding='UTF-8', index=False)