In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
dc_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "DC"]
dc_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
166,2,2020-03-04 08:36:04,38.918324,-76.955032,Washington,DC,NaN,New York Ave W,At South Dakota Ave - Accident. Right lane blo...
591,4,2019-12-24 00:49:17,38.870910,-76.988750,Washington,DC,NaN,I-695 N,Closed between Southeast Fwy and 11th St Bridg...
1156,2,2020-10-30 04:59:52,38.917310,-76.969940,Washington,DC,NaN,New York Ave NE,Incident on NEW YORK AVE near NEW YORK AVE Dri...
1511,2,2017-05-12 08:14:16,38.925533,-77.052673,Washington,DC,2578.0,Woodley Rd NW,Accident on Connecticut Ave Southbound at Wood...
1562,2,2020-05-11 16:14:05,38.894600,-76.953020,Washington,DC,NaN,Anacostia Fwy N,At Benning Rd - Accident. Two lanes blocked.
...,...,...,...,...,...,...,...,...,...
2905001,4,2020-05-29 10:00:49,38.952410,-77.009000,Washington,DC,1.0,Gallatin St NE,Closed between Riggs Rd NE and Scale Gate Rd -...
2905115,2,2020-12-21 22:13:41,38.910022,-76.935957,Washington,DC,NaN,Kenilworth Ave N,Incident on MD-201 near MD-201 Drive with caut...
2905621,2,2020-12-30 21:01:18.000000000,38.896072,-76.951776,Washington,DC,NaN,Kenilworth Ave S,Incident on DC-295 near DC-295 Drive with caut...
2905682,2,2017-12-12 13:03:41,38.863056,-76.999565,Washington,DC,NaN,Suitland Pkwy E,Restrictions due to accident on Suitland Pkwy ...
2906243,2,2020-11-20 06:13:08,38.908574,-77.009096,Washington,DC,NaN,N Capitol St NW,Incident on N CAPITOL ST SERVICE RD near N CAP...

In [6]:
dc_df = dc_df.round(decimals=4)
dc_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
166,2,2020-03-04 08:36:04,38.9183,-76.9550,Washington,DC,NaN,New York Ave W,At South Dakota Ave - Accident. Right lane blo...
591,4,2019-12-24 00:49:17,38.8709,-76.9888,Washington,DC,NaN,I-695 N,Closed between Southeast Fwy and 11th St Bridg...
1156,2,2020-10-30 04:59:52,38.9173,-76.9699,Washington,DC,NaN,New York Ave NE,Incident on NEW YORK AVE near NEW YORK AVE Dri...
1511,2,2017-05-12 08:14:16,38.9255,-77.0527,Washington,DC,2578.0,Woodley Rd NW,Accident on Connecticut Ave Southbound at Wood...
1562,2,2020-05-11 16:14:05,38.8946,-76.9530,Washington,DC,NaN,Anacostia Fwy N,At Benning Rd - Accident. Two lanes blocked.

In [7]:
dc_df['Number'] = dc_df['Number'].fillna(0)

In [8]:
dc_df['Number'] = dc_df['Number'].map("{:.0f}".format)

In [9]:
dc_df['Number'].replace({"0": ""}, inplace=True)

In [11]:
dc_df.to_csv('../State_csv_files/District_of_Columbia.csv', encoding='UTF-8', index=False)