In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
delaware_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "DE"]
delaware_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
2354,2,2017-08-31 13:15:45,39.744122,-75.562294,Wilmington,DE,301.0,N Van Buren St,Accident on 3rd St both ways from Cherry St to...
4063,4,2020-10-29 19:11:00,39.767877,-75.536976,Wilmington,DE,NaN,I-95 N,Incident on I-95 NB near SB THE Road closed. T...
4354,2,2019-08-14 07:23:31,39.723190,-75.606300,Wilmington,DE,516.0,Rochelle Ave,Accident on Rochelle Ave at Fallon Ave.
4478,2,2019-11-19 14:38:01,39.738701,-75.563873,Wilmington,DE,508.0,Maryland Ave,Accident on DE-4 Maryland Ave Northbound at Ma...
4530,2,2020-10-18 23:30:30,39.710773,-75.592188,New Castle,DE,NaN,I-95 S,Stationary traffic on I-95 from DE-4/Maryland ...
...,...,...,...,...,...,...,...,...,...
2905514,3,2018-10-10 11:39:12,39.766785,-75.543129,Wilmington,DE,NaN,I-95 N,Right lane closed due to accident on I-95 Sout...
2905530,2,2017-11-30 17:59:32,39.452644,-75.686371,Middletown,DE,NaN,Brick Mill Rd,Accident on DE-299 Middletown Odessa Rd at Bri...
2905594,2,2018-12-20 18:10:51,39.532296,-75.649089,Middletown,DE,1983.0,Dupont Pkwy,At New Castle - Accident. Left lane blocked.
2905674,2,2020-11-07 06:18:00,39.685202,-75.707012,Newark,DE,NaN,DE-273,Incident on DE-273 EB near BALA RD Road closed...
2906527,4,2018-11-19 21:21:27,39.617852,-75.644133,New Castle,DE,913.0,Red Lion Rd,Closed between US-301/US-40/Pulaski Hwy and SR...

In [6]:
delaware_df = delaware_df.round(decimals=4)
delaware_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
2354,2,2017-08-31 13:15:45,39.7441,-75.5623,Wilmington,DE,301.0,N Van Buren St,Accident on 3rd St both ways from Cherry St to...
4063,4,2020-10-29 19:11:00,39.7679,-75.5370,Wilmington,DE,NaN,I-95 N,Incident on I-95 NB near SB THE Road closed. T...
4354,2,2019-08-14 07:23:31,39.7232,-75.6063,Wilmington,DE,516.0,Rochelle Ave,Accident on Rochelle Ave at Fallon Ave.
4478,2,2019-11-19 14:38:01,39.7387,-75.5639,Wilmington,DE,508.0,Maryland Ave,Accident on DE-4 Maryland Ave Northbound at Ma...
4530,2,2020-10-18 23:30:30,39.7108,-75.5922,New Castle,DE,NaN,I-95 S,Stationary traffic on I-95 from DE-4/Maryland ...

In [7]:
delaware_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4625 entries, 2354 to 2906527
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Severity     4625 non-null   int64
 1   Date/Time    4625 non-null   object
 2   Latitude     4625 non-null   float64
 3   Longitude    4625 non-null   float64
 4   City         4625 non-null   object
 5   State        4625 non-null   object
 6   Number       2569 non-null   float64
 7   Street       4625 non-null   object
 8   Description  4625 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 361.3+ KB

In [8]:
delaware_df['Number'] = delaware_df['Number'].fillna(0)

In [9]:
delaware_df['Number'] = delaware_df['Number'].map("{:.0f}".format)

In [10]:
delaware_df['Number'].replace({"0": ""}, inplace=True)

In [11]:
delaware_df.to_csv('../State_csv_files/Delaware.csv', encoding='UTF-8', index=False)