In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
maine_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "ME"]
maine_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
271,2,2018-07-30 16:40:08,44.144381,-69.925377,Litchfield,ME,NaN,I-95 N,At West Gardiner Toll Plaza - Accident.
703,2,2018-08-16 14:44:33,44.787040,-68.808430,Bangor,ME,NaN,ME-15 S,At I-95/I-395 - Accident. 1 lane closed.
2085,2,2018-09-12 08:07:40,44.091992,-69.237237,Warren,ME,733.0,Atlantic Hwy,At ME-97/Cushing Rd - Accident.
2573,2,2018-08-10 19:32:00,43.634219,-70.303843,South Portland,ME,NaN,I-295 N,At US-1/Exit 4 - Accident.
4384,2,2019-02-13 17:52:50,43.533930,-70.446010,Saco,ME,NaN,I-95 N,At York/Cumberland County Line - Accident.
...,...,...,...,...,...,...,...,...,...
2890491,3,2020-12-02 16:33:01,44.809704,-68.792564,Bangor,ME,NaN,I-95 S,Right lane blocked due to accident on I-95 Nor...
2893190,2,2019-12-10 18:00:11,43.541660,-70.438120,Saco,ME,NaN,I-95 S,At I-195/Exit 5 - Accident.
2894324,2,2019-02-12 07:56:32,43.634520,-70.341580,South Portland,ME,NaN,I-95 N,At Jetport Rd/Exit 46 - Accident.
2895684,2,2019-11-10 13:59:04,44.378070,-69.769300,Augusta,ME,NaN,I-95 N,At Lyons Rd/Exit 120 - Accident.
2900238,2,2019-01-25 07:28:57,44.680082,-69.902902,Mercer,ME,1218.0,Mercer Rd,At ME-27/Mile Hill Rd - Accident. 2 lanes closed.

In [6]:
maine_df = maine_df.round(decimals=4)
maine_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
271,2,2018-07-30 16:40:08,44.1444,-69.9254,Litchfield,ME,NaN,I-95 N,At West Gardiner Toll Plaza - Accident.
703,2,2018-08-16 14:44:33,44.7870,-68.8084,Bangor,ME,NaN,ME-15 S,At I-95/I-395 - Accident. 1 lane closed.
2085,2,2018-09-12 08:07:40,44.0920,-69.2372,Warren,ME,733.0,Atlantic Hwy,At ME-97/Cushing Rd - Accident.
2573,2,2018-08-10 19:32:00,43.6342,-70.3038,South Portland,ME,NaN,I-295 N,At US-1/Exit 4 - Accident.
4384,2,2019-02-13 17:52:50,43.5339,-70.4460,Saco,ME,NaN,I-95 N,At York/Cumberland County Line - Accident.

In [7]:
maine_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2266 entries, 271 to 2900238
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Severity     2266 non-null   int64
 1   Date/Time    2266 non-null   object
 2   Latitude     2266 non-null   float64
 3   Longitude    2266 non-null   float64
 4   City         2266 non-null   object
 5   State        2266 non-null   object
 6   Number       504 non-null    float64
 7   Street       2266 non-null   object
 8   Description  2266 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 177.0+ KB

In [8]:
maine_df['Number'] = maine_df['Number'].fillna(0)

In [9]:
maine_df['Number'] = maine_df['Number'].map("{:.0f}".format)

In [10]:
maine_df['Number'].replace({"0": ""}, inplace=True)

In [11]:
maine_df.to_csv('../State_csv_files/Maine.csv', encoding='UTF-8', index=False)