In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
iowa_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "IA"]
iowa_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
276,2,2018-10-25 18:40:51,41.597691,-93.718437,Windsor Heights,IA,1036.0,73rd St,Accident on 73rd St at Buffalo Rd.
306,3,2017-10-19 06:57:28,41.877819,-93.571083,Cambridge,IA,NaN,Highway 210,Left lane blocked due to accident on I-35 Nort...
381,3,2017-01-16 02:48:13,41.493660,-94.237550,Dexter,IA,NaN,US-6 W,At Adair Madison Ave - Accident.
589,2,2019-05-22 06:36:01,42.019909,-91.550224,Marion,IA,NaN,Marion Byp,Left lane blocked due to accident on US-151 So...
787,2,2018-11-19 06:19:08,41.581806,-93.703514,West des Moines,IA,844.0,1st St,Accident on IA-28 63rd St near Grand Ave.
...,...,...,...,...,...,...,...,...,...
2906034,2,2016-07-01 08:08:05,41.843000,-91.665620,Swisher,IA,NaN,IA-27 N,Between County Rd F-12/Exit 10 and IA-84/Wrigh...
2906103,3,2019-10-18 09:39:35,41.126339,-92.410072,Ottumwa,IA,16562.0,Highway 149,Roadway reduced from two lanes to one lane due...
2906280,2,2020-09-10 23:21:33,41.653536,-93.574429,Des Moines,IA,NaN,I-80 W,Incident on I-80 WB near EXIT 137A Expect long...
2906297,3,2016-10-24 13:09:27,41.649185,-93.773880,Urbandale,IA,NaN,I-80 W,Entry ramp closed due to stalled vehicle on I-...
2906358,2,2020-11-18 16:37:00,41.686429,-92.883343,Kellogg,IA,NaN,I-80 E,Slow traffic on I-80 E from IA-224/Exit 173 (I...

In [6]:
iowa_df = iowa_df.round(decimals=4)
iowa_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
276,2,2018-10-25 18:40:51,41.5977,-93.7184,Windsor Heights,IA,1036.0,73rd St,Accident on 73rd St at Buffalo Rd.
306,3,2017-10-19 06:57:28,41.8778,-93.5711,Cambridge,IA,NaN,Highway 210,Left lane blocked due to accident on I-35 Nort...
381,3,2017-01-16 02:48:13,41.4937,-94.2376,Dexter,IA,NaN,US-6 W,At Adair Madison Ave - Accident.
589,2,2019-05-22 06:36:01,42.0199,-91.5502,Marion,IA,NaN,Marion Byp,Left lane blocked due to accident on US-151 So...
787,2,2018-11-19 06:19:08,41.5818,-93.7035,West des Moines,IA,844.0,1st St,Accident on IA-28 63rd St near Grand Ave.

In [7]:
iowa_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9492 entries, 276 to 2906358
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Severity     9492 non-null   int64
 1   Date/Time    9492 non-null   object
 2   Latitude     9492 non-null   float64
 3   Longitude    9492 non-null   float64
 4   City         9491 non-null   object
 5   State        9492 non-null   object
 6   Number       2396 non-null   float64
 7   Street       9492 non-null   object
 8   Description  9492 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 741.6+ KB

In [8]:
iowa_df['Number'] = iowa_df['Number'].fillna(0)

In [9]:
iowa_df['Number'] = iowa_df['Number'].map("{:.0f}".format)

In [10]:
iowa_df['Number'].replace({"0": ""}, inplace=True)

In [11]:
iowa_df.to_csv('../State_csv_files/Iowa.csv', encoding='UTF-8', index=False)