In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
minnesota_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "MN"]
minnesota_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
47,2,2018-06-05 07:43:07,44.852409,-93.247139,Minneapolis,MN,NaN,MN-77 N,Accident on MN-77 Southbound between I-494 and...
53,2,2020-10-16 06:56:00,46.325429,-94.962033,Aldrich,MN,47998.0,193rd Ave,Incident on MN-210 near CR-77 Drive with caution.
83,2,2020-05-07 07:20:00,44.950750,-93.099340,Saint Paul,MN,NaN,I-94 E,At I-35E/Exit 241 - Accident.
91,2,2016-09-06 12:14:00,44.570877,-92.645325,Red Wing,MN,32998.0,Highway 61 Blvd,At Cannon Bottom Rd - Accident.
114,2,2020-02-09 07:43:00,44.880010,-93.141150,Saint Paul,MN,NaN,I-35E S,Ramp to I-35E Southbound - Vehicle spun around.
...,...,...,...,...,...,...,...,...,...
2906295,2,2020-06-24 23:44:00,44.874670,-93.060670,Inver Grove Heights,MN,NaN,I-494 E,At US-52/Exit 66 - Accident.
2906321,3,2017-08-03 08:10:02,44.952530,-93.082779,Saint Paul,MN,NaN,US-10 E,Accident on I-94 Westbound between Exits 242D ...
2906363,2,2019-02-05 17:37:11,45.079632,-93.717346,Rockford,MN,7675.0,State Highway 55,Accident on MN-55 at CR-92 Dogwood St.
2906399,2,2020-01-17 06:05:49,44.573780,-93.298676,Elko New Market,MN,NaN,I-35 S,Accident on I-35 Southbound at CR-2 Deuce Rd.
2906452,2,2020-07-17 07:47:27,46.587811,-94.309792,Pequot Lakes,MN,29801.0,Patriot Ave,Accident on Old Hwy 371 at Royce St.

In [6]:
minnesota_df = minnesota_df.round(decimals=4)
minnesota_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
47,2,2018-06-05 07:43:07,44.8524,-93.2471,Minneapolis,MN,NaN,MN-77 N,Accident on MN-77 Southbound between I-494 and...
53,2,2020-10-16 06:56:00,46.3254,-94.9620,Aldrich,MN,47998.0,193rd Ave,Incident on MN-210 near CR-77 Drive with caution.
83,2,2020-05-07 07:20:00,44.9508,-93.0993,Saint Paul,MN,NaN,I-94 E,At I-35E/Exit 241 - Accident.
91,2,2016-09-06 12:14:00,44.5709,-92.6453,Red Wing,MN,32998.0,Highway 61 Blvd,At Cannon Bottom Rd - Accident.
114,2,2020-02-09 07:43:00,44.8800,-93.1412,Saint Paul,MN,NaN,I-35E S,Ramp to I-35E Southbound - Vehicle spun around.

In [7]:
minnesota_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79712 entries, 47 to 2906452
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Severity     79712 non-null  int64
 1   Date/Time    79712 non-null  object
 2   Latitude     79712 non-null  float64
 3   Longitude    79712 non-null  float64
 4   City         79710 non-null  object
 5   State        79712 non-null  object
 6   Number       19256 non-null  float64
 7   Street       79712 non-null  object
 8   Description  79712 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 6.1+ MB

In [8]:
minnesota_df['Number'] = minnesota_df['Number'].fillna(0)

In [9]:
minnesota_df['Number'] = minnesota_df['Number'].map("{:.0f}".format)

In [10]:
minnesota_df['Number'].replace({"0": ""}, inplace=True)

In [11]:
minnesota_df.to_csv('../State_csv_files/Minnesota.csv', encoding='UTF-8', index=False)