In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import json
import geojson

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data['Number'] = accidents_data['Number'].fillna(0)

In [4]:
accidents_data['Number'] = accidents_data['Number'].map("{:.0f}".format)

In [5]:
accidents_data['Number'].replace({"0": ""}, inplace=True)

In [6]:
new = accidents_data.sample(100000)

In [7]:
new = new.round(decimals=4)
new.reset_index(drop=True, inplace=True)
new.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2391637,2,2016-11-15 18:27:18,2016-11-16 00:27:18,35.3550,-80.8682,35.3556,-80.8685,0.048,At Forest Dr - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
1,A-1601455,2,2020-10-12 21:51:00,2020-10-12 23:07:19,34.0815,-118.2943,34.0882,-118.3047,0.753,Incident on US-101 NB near MELROSE AVE Expect ...,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-794633,2,2018-11-09 17:50:44,2018-11-09 18:20:37,37.6472,-77.5860,37.6472,-77.5860,0.000,Accident on US-250 Broad St at Dominion Blvd.,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-2262819,2,2016-10-12 16:28:08,2016-10-12 22:28:08,44.9341,-93.2745,44.9431,-93.2746,0.620,At 35th St/36th St/Exit 14 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
4,A-2135524,1,2020-06-11 14:23:43,2020-06-11 14:38:43,45.4765,-122.8262,45.4765,-122.8262,0.000,At SW Davis Rd - Accident.,...,False,False,False,False,True,False,Day,Day,Day,Day

In [8]:
Severity = []
i = 0
while i < len(new['Severity']):
    Severity.append(new['Severity'][i])
    i+=1

In [9]:
Start_Time = []
i = 0
while i < len(new['Start_Time']):
    Start_Time.append(new['Start_Time'][i])
    i+=1

In [10]:
Start_Lat = []
i = 0
while i < len(new['Start_Lat']):
    Start_Lat.append(new['Start_Lat'][i])
    i+=1

In [11]:
Start_Lng = []
i = 0
while i < len(new['Start_Lng']):
    Start_Lng.append(new['Start_Lng'][i])
    i+=1

In [12]:
City = []
i = 0
while i < len(new['City']):
    City.append(new['City'][i])
    i+=1

In [13]:
State = []
i = 0
while i < len(new['State']):
    State.append(new['State'][i])
    i+=1

In [14]:
Description = []
i = 0
while i < len(new['Description']):
    Description.append(new['Description'][i])
    i+=1

In [15]:
Street = []
i = 0
while i < len(new['Street']):
    Street.append(new['Street'][i])
    i+=1

In [16]:
Number = []
i = 0
while i < len(new['Number']):
    Number.append(new['Number'][i])
    i+=1

In [17]:
new['Description'][10]

'At I-24/I-40 Eastern Split - Accident. Right lane blocked.'

In [18]:
%%capture cap --no-stderr
for (a, b, c, d, e, f, g, h, i) in zip(Start_Time, Start_Lat, Start_Lng, Number, Street, City, State, Description, Severity):
    print(f'{{\n  datetime: "{a}",\n  address: "{d}{e}",\n  city: "{f}",\n  state: "{g}",\n  severity: "{i}",\n  location: "({b}, {c})",\n  description: "{h}"\n}},')

In [19]:
# Print to txt file
with open('USA_all_accidents_data_sample.txt', 'w', encoding='UTF-8') as f:
    f.write(cap.stdout)

In [ ]:
new.info()

In [ ]:
def data2geojson(new):
    features = []
    insert_features = lambda X: features.append(
            geojson.Feature(geometry=geojson.Point((X["Start_Lng"],
                                                    X["Start_Lat"])),
                            properties=dict(datetime=X["Start_Time"],
                                            severity=X["Severity"],
                                            city=X["City"],
                                            state=X["State"],
                                            description=X["Description"])))
    new.apply(insert_features, axis=1)
    with open('TX_sev1_accidents.geojson', 'w', encoding='utf8') as fp:
        geojson.dump(geojson.FeatureCollection(features), fp, sort_keys=True, ensure_ascii=False)


data2geojson(new)