In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
indiana_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "IN"]
indiana_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
32,3,2018-01-25 16:44:30,39.922646,-86.116890,Indianapolis,IN,NaN,I-465 E,Very slow traffic and left lane closed due to ...
54,2,2018-07-03 15:07:15,39.826813,-84.908905,Richmond,IN,522.0,National Rd W,Accident on 6th St at US-40 National Rd.
165,2,2017-08-09 07:26:15,39.924939,-86.586994,Jamestown,IN,NaN,I-74 E,At Lizton Rest Area - Accident.
236,3,2020-01-30 08:15:21,39.717400,-86.125720,Indianapolis,IN,NaN,I-65 S,At Keystone Ave/Exit 107 - Accident. Right lan...
256,2,2018-07-03 07:24:36,39.651718,-86.054031,Indianapolis,IN,6450.0,E Stop 11 Rd,Accident on Stop 11 Rd at Combs Rd.
...,...,...,...,...,...,...,...,...,...
2906094,2,2020-10-22 23:37:50,38.314449,-85.843176,New Albany,IN,NaN,I-265 E,Queuing traffic on I-265 from State Street/Exi...
2906158,2,2018-08-13 08:48:01,40.929569,-85.623405,Huntington,IN,9010.0,W 700 N,Accident on IN-105 900 at 700.
2906353,2,2019-07-18 11:13:46,39.924400,-86.195074,Indianapolis,IN,NaN,I-465 W,At US-421/Michigan Rd/Exit 27 - Accident.
2906447,2,2017-04-20 18:09:29,39.831332,-86.275970,Indianapolis,IN,NaN,I-465 S,Between 56th St/Exit 19 and I-74/Exit 16 - Acc...
2906580,2,2018-04-18 09:03:40,39.836807,-86.247368,Indianapolis,IN,NaN,Lafayette Blvd,Accident on Lafayette Rd at Lafayette Blvd.

In [6]:
indiana_df = indiana_df.round(decimals=4)
indiana_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
32,3,2018-01-25 16:44:30,39.9226,-86.1169,Indianapolis,IN,NaN,I-465 E,Very slow traffic and left lane closed due to ...
54,2,2018-07-03 15:07:15,39.8268,-84.9089,Richmond,IN,522.0,National Rd W,Accident on 6th St at US-40 National Rd.
165,2,2017-08-09 07:26:15,39.9249,-86.5870,Jamestown,IN,NaN,I-74 E,At Lizton Rest Area - Accident.
236,3,2020-01-30 08:15:21,39.7174,-86.1257,Indianapolis,IN,NaN,I-65 S,At Keystone Ave/Exit 107 - Accident. Right lan...
256,2,2018-07-03 07:24:36,39.6517,-86.0540,Indianapolis,IN,6450.0,E Stop 11 Rd,Accident on Stop 11 Rd at Combs Rd.

In [7]:
indiana_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24993 entries, 32 to 2906580
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Severity     24993 non-null  int64
 1   Date/Time    24993 non-null  object
 2   Latitude     24993 non-null  float64
 3   Longitude    24993 non-null  float64
 4   City         24988 non-null  object
 5   State        24993 non-null  object
 6   Number       8777 non-null   float64
 7   Street       24993 non-null  object
 8   Description  24993 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 1.9+ MB

In [8]:
indiana_df['Number'] = indiana_df['Number'].fillna(0)

In [9]:
indiana_df['Number'] = indiana_df['Number'].map("{:.0f}".format)

In [10]:
indiana_df['Number'].replace({"0": ""}, inplace=True)

In [11]:
indiana_df.to_csv('../State_csv_files/Indiana.csv', encoding='UTF-8', index=False)