In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
mississippi_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "MS"]
mississippi_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
174,2,2020-01-02 18:38:49,34.405780,-88.920700,Blue Springs,MS,NaN,I-22 W,At MS-15/MS-30/Exit 64 - Accident.
1038,3,2018-09-13 07:44:43,32.354412,-90.644264,Vicksburg,MS,NaN,I-20 W,Accident on I-20 Westbound before Exit 15.
1105,2,2019-09-04 09:31:58,32.276020,-90.179000,Richland,MS,NaN,US-49 S,At I-55/Exit 46 - Accident. Left lane blocked.
1323,2,2018-11-18 21:34:34,31.666757,-90.456341,Brookhaven,MS,NaN,I-55 N,At Mt Zion Rd/Exit 48 - Accident. Lane blocked.
2091,2,2020-08-10 07:13:00,34.346020,-89.521187,Oxford,MS,2405.0,S Lamar Blvd,Accident on Lamar Blvd near Harlan Dr.
...,...,...,...,...,...,...,...,...,...
2904985,2,2018-10-17 08:09:56,32.464680,-88.817688,Collinsville,MS,8224.0,Highway 19 N,Right lane blocked due to accident on MS-19 No...
2905111,2,2018-05-11 07:20:22,31.319262,-89.328308,Hattiesburg,MS,6051.0,US Highway 49,Left hand shoulder blocked due to accident on ...
2905303,2,2020-12-10 02:36:00,31.273586,-89.287994,Hattiesburg,MS,5277.0,US Highway 49,Incident on US-49 SB near ELKS LAKE RD Right l...
2906147,2,2017-08-02 11:29:27,34.347305,-89.521156,Oxford,MS,2377.0,S Lamar Blvd,Accident on Lamar Blvd Northbound near Belk Blvd.
2906265,2,2020-11-14 01:18:00,30.466391,-88.419147,Moss Point,MS,NaN,I-10 E,Incident on I-10 EB near FRANKLIN CREEK RD Rig...

In [6]:
mississippi_df = mississippi_df.round(decimals=4)
mississippi_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
174,2,2020-01-02 18:38:49,34.4058,-88.9207,Blue Springs,MS,NaN,I-22 W,At MS-15/MS-30/Exit 64 - Accident.
1038,3,2018-09-13 07:44:43,32.3544,-90.6443,Vicksburg,MS,NaN,I-20 W,Accident on I-20 Westbound before Exit 15.
1105,2,2019-09-04 09:31:58,32.2760,-90.1790,Richland,MS,NaN,US-49 S,At I-55/Exit 46 - Accident. Left lane blocked.
1323,2,2018-11-18 21:34:34,31.6668,-90.4563,Brookhaven,MS,NaN,I-55 N,At Mt Zion Rd/Exit 48 - Accident. Lane blocked.
2091,2,2020-08-10 07:13:00,34.3460,-89.5212,Oxford,MS,2405.0,S Lamar Blvd,Accident on Lamar Blvd near Harlan Dr.

In [7]:
mississippi_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5419 entries, 174 to 2906265
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Severity     5419 non-null   int64
 1   Date/Time    5419 non-null   object
 2   Latitude     5419 non-null   float64
 3   Longitude    5419 non-null   float64
 4   City         5419 non-null   object
 5   State        5419 non-null   object
 6   Number       1184 non-null   float64
 7   Street       5419 non-null   object
 8   Description  5419 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 423.4+ KB

In [8]:
mississippi_df['Number'] = mississippi_df['Number'].fillna(0)

In [9]:
mississippi_df['Number'] = mississippi_df['Number'].map("{:.0f}".format)

In [10]:
mississippi_df['Number'].replace({"0": ""}, inplace=True)

In [11]:
mississippi_df.to_csv('../State_csv_files/Mississippi.csv', encoding='UTF-8', index=False)