In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
nebraska_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "NE"]
nebraska_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
106,2,2017-08-22 10:53:29,41.256569,-95.940956,Omaha,NE,373.0,S 19th St,Accident on 19th St Eastbound at Harney St.
169,3,2016-09-06 17:16:06,41.224018,-96.043098,Omaha,NE,NaN,S 84th St,Accident on I-80 Eastbound at Exit 448 84th St.
404,2,2018-07-25 07:52:44,41.226990,-95.990227,Omaha,NE,3479.0,S 50th St,Accident on 50th St at Grover St.
440,2,2017-04-19 13:19:25,41.299488,-96.014259,Omaha,NE,NaN,N 66th St,Accident on 66th St at Ames Ave.
501,2,2016-05-18 12:49:01,41.190815,-96.081390,La Vista,NE,NaN,Harrison St,Accident on 108th St at Harrison St.
...,...,...,...,...,...,...,...,...,...
2905829,2,2017-01-13 18:25:35,41.277824,-96.071762,Omaha,NE,2001.0,N 102nd St,Serious accident on Blondo St Eastbound at 102...
2906002,3,2018-11-19 08:06:31,41.239014,-95.953903,Omaha,NE,NaN,Martha St,Slow traffic and left lane blocked due to acci...
2906212,2,2018-09-14 07:57:11,41.245270,-95.955818,Omaha,NE,2948.0,Woolworth Ave,Accident on Park Ave at Woolworth Ave.
2906340,3,2016-09-14 15:21:15,40.824545,-97.597740,York,NE,4424.0,S Lincoln Ave,At I-80 - Accident.
2906600,2,2019-07-25 15:55:24,41.212261,-95.948593,Omaha,NE,NaN,S 25th St,Accident on 25th St both ways at US-275 L St.

In [6]:
nebraska_df = nebraska_df.round(decimals=4)

In [7]:
nebraska_df['Number'] = nebraska_df['Number'].fillna(0)

In [8]:
nebraska_df['Number'] = nebraska_df['Number'].map("{:.0f}".format)

In [9]:
nebraska_df['Number'].replace({"0": ""}, inplace=True)

In [10]:
nebraska_df.to_csv('../State_csv_files/Nebraska.csv', encoding='UTF-8', index=False)