In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import json
import geojson

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data['Severity'].value_counts()

2    2129263
3     629452
4     119144
1      28751
Name: Severity, dtype: int64

In [4]:
new = accidents_data.loc[(accidents_data['Severity'] == 1)]
new.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
56,A-57,1,2020-06-13 16:50:54,2020-06-13 17:20:54,35.25935,-80.77776,35.25935,-80.77776,0.00,At Eastway Dr - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
103,A-104,1,2020-04-13 18:48:05,2020-04-13 19:23:03,45.52641,-122.47999,45.52641,-122.47999,0.00,At NE 162nd Ave - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
157,A-158,1,2020-06-20 02:44:37,2020-06-20 03:29:37,41.95890,-71.06367,41.96217,-71.11564,2.68,Between RT-24/Exit 7 and Bay St/Exit 9 - Accid...,...,False,False,False,False,False,False,Night,Night,Night,Night
339,A-340,1,2020-04-14 09:30:52,2020-04-14 09:45:52,29.95180,-90.06726,29.95180,-90.06726,0.00,At Canal St - Accident.,...,False,True,False,False,True,False,Day,Day,Day,Day
577,A-578,1,2020-04-01 16:36:10,2020-04-01 16:51:10,47.70860,-122.32862,47.70860,-122.32862,0.00,At N Northgate Way - Accident. Left lane blocked.,...,False,False,False,False,True,False,Day,Day,Day,Day

In [5]:
new = new.round(decimals=4)
new.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
56,A-57,1,2020-06-13 16:50:54,2020-06-13 17:20:54,35.2594,-80.7778,35.2594,-80.7778,0.00,At Eastway Dr - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
103,A-104,1,2020-04-13 18:48:05,2020-04-13 19:23:03,45.5264,-122.4800,45.5264,-122.4800,0.00,At NE 162nd Ave - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
157,A-158,1,2020-06-20 02:44:37,2020-06-20 03:29:37,41.9589,-71.0637,41.9622,-71.1156,2.68,Between RT-24/Exit 7 and Bay St/Exit 9 - Accid...,...,False,False,False,False,False,False,Night,Night,Night,Night
339,A-340,1,2020-04-14 09:30:52,2020-04-14 09:45:52,29.9518,-90.0673,29.9518,-90.0673,0.00,At Canal St - Accident.,...,False,True,False,False,True,False,Day,Day,Day,Day
577,A-578,1,2020-04-01 16:36:10,2020-04-01 16:51:10,47.7086,-122.3286,47.7086,-122.3286,0.00,At N Northgate Way - Accident. Left lane blocked.,...,False,False,False,False,True,False,Day,Day,Day,Day

In [ ]:
empty = new.loc[new['City'] == "NaN"]
empty

# null_columns = new.columns[new.isnull().any()]
# new[null_columns].isnull().sum

In [6]:
new_df=new[new['City'].notna()]
new_df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
56,A-57,1,2020-06-13 16:50:54,2020-06-13 17:20:54,35.2594,-80.7778,35.2594,-80.7778,0.00,At Eastway Dr - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
103,A-104,1,2020-04-13 18:48:05,2020-04-13 19:23:03,45.5264,-122.4800,45.5264,-122.4800,0.00,At NE 162nd Ave - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
157,A-158,1,2020-06-20 02:44:37,2020-06-20 03:29:37,41.9589,-71.0637,41.9622,-71.1156,2.68,Between RT-24/Exit 7 and Bay St/Exit 9 - Accid...,...,False,False,False,False,False,False,Night,Night,Night,Night
339,A-340,1,2020-04-14 09:30:52,2020-04-14 09:45:52,29.9518,-90.0673,29.9518,-90.0673,0.00,At Canal St - Accident.,...,False,True,False,False,True,False,Day,Day,Day,Day
577,A-578,1,2020-04-01 16:36:10,2020-04-01 16:51:10,47.7086,-122.3286,47.7086,-122.3286,0.00,At N Northgate Way - Accident. Left lane blocked.,...,False,False,False,False,True,False,Day,Day,Day,Day

In [7]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28748 entries, 56 to 2906544
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     28748 non-null  object
 1   Severity               28748 non-null  int64
 2   Start_Time             28748 non-null  object
 3   End_Time               28748 non-null  object
 4   Start_Lat              28748 non-null  float64
 5   Start_Lng              28748 non-null  float64
 6   End_Lat                28654 non-null  float64
 7   End_Lng                28654 non-null  float64
 8   Distance(mi)           28748 non-null  float64
 9   Description            28748 non-null  object
 10  Number                 12835 non-null  float64
 11  Street                 28748 non-null  object
 12  Side                   28748 non-null  object
 13  City                   28748 non-null  object
 14  County                 28748 non-null  object
 15  State                  28748 non-null  object
 16  Zipcode                28735 non-null  object
 17  Country                28748 non-null  object
 18  Timezone               28723 non-null  object
 19  Airport_Code           28708 non-null  object
 20  Weather_Timestamp      28510 non-null  object
 21  Temperature(F)         28393 non-null  float64
 22  Wind_Chill(F)          27876 non-null  float64
 23  Humidity(%)            28372 non-null  float64
 24  Pressure(in)           28427 non-null  float64
 25  Visibility(mi)         28392 non-null  float64
 26  Wind_Direction         28252 non-null  object
 27  Wind_Speed(mph)        28183 non-null  float64
 28  Precipitation(in)      26097 non-null  float64
 29  Weather_Condition      28348 non-null  object
 30  Amenity                28748 non-null  bool
 31  Bump                   28748 non-null  bool
 32  Crossing               28748 non-null  bool
 33  Give_Way               28748 non-null  bool
 34  Junction               28748 non-null  bool
 35  No_Exit                28748 non-null  bool
 36  Railway                28748 non-null  bool
 37  Roundabout             28748 non-null  bool
 38  Station                28748 non-null  bool
 39  Stop                   28748 non-null  bool
 40  Traffic_Calming        28748 non-null  bool
 41  Traffic_Signal         28748 non-null  bool
 42  Turning_Loop           28748 non-null  bool
 43  Sunrise_Sunset         28748 non-null  object
 44  Civil_Twilight         28748 non-null  object
 45  Nautical_Twilight      28748 non-null  object
 46  Astronomical_Twilight  28748 non-null  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 8.0+ MB

In [ ]:
print(new[new['City'].isnull()][null_columns])

In [ ]:
new.info()

In [9]:
def data2geojson(new_df):
    features = []
    insert_features = lambda X: features.append(
            geojson.Feature(geometry=geojson.Point((X["Start_Lng"],
                                                    X["Start_Lat"])),
                            properties=dict(datetime=X["Start_Time"],
                                            severity=X["Severity"],
                                            city=X["City"],
                                            state=X["State"],
                                            description=X["Description"])))
    new_df.apply(insert_features, axis=1)
    with open('USA_sev1_accidents.geojson', 'w', encoding='utf8') as fp:
        geojson.dump(geojson.FeatureCollection(features), fp, sort_keys=True, ensure_ascii=False)


data2geojson(new_df)