In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
maryland_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "MD"]
maryland_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
73,2,2017-05-10 15:53:49,38.864871,-76.846793,Capitol Heights,MD,NaN,Capital Beltway N,At I-495/I-95/Capital Beltway - Accident.
89,2,2020-11-07 20:20:30,38.384973,-75.422516,Pittsville,MD,NaN,Ocean Gtwy,US 50 WEST AT SIXTY FOOT RD
197,3,2020-05-10 19:41:21,39.262850,-76.566950,Baltimore,MD,4589.0,Keith Ave,At I-95 - Accident.
257,2,2020-07-22 13:40:40,39.327599,-77.582863,Knoxville,MD,3501.0,Olive School Rd,Accident on MD-464 Point Of Rocks Rd at Olive ...
316,2,2019-10-22 14:15:53,39.187038,-77.169777,Montgomery Village,MD,8456.0,E Village Ave,Accident on Village Ave at Doubleland Rd.
...,...,...,...,...,...,...,...,...,...
2906344,3,2018-11-09 04:56:14,39.663700,-79.476700,Friendsville,MD,NaN,I-68 W,At West Virginia/Maryland St Line - Accident. ...
2906365,2,2020-06-22 01:04:10,39.043070,-76.668820,Gambrills,MD,906.0,Saint Stephens Church Rd,At St Stephens Church Rd - Accident.
2906432,2,2018-08-22 06:51:34,39.352345,-76.598564,Baltimore,MD,1199.0,Glenwood Ave,Accident on The Alameda at Glenwood Ave.
2906585,2,2018-10-13 16:53:16,38.955147,-76.721092,Bowie,MD,NaN,John Hanson Hwy W,Entry ramp to US-50 Westbound from Crain Hwy S...
2906603,2,2016-12-19 06:34:56,38.993397,-77.026680,Silver Spring,MD,8300.0,Georgia Ave,Accident on Bonifant St at US-29 Georgia Ave.

In [6]:
maryland_df = maryland_df.round(decimals=4)
maryland_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
73,2,2017-05-10 15:53:49,38.8649,-76.8468,Capitol Heights,MD,NaN,Capital Beltway N,At I-495/I-95/Capital Beltway - Accident.
89,2,2020-11-07 20:20:30,38.3850,-75.4225,Pittsville,MD,NaN,Ocean Gtwy,US 50 WEST AT SIXTY FOOT RD
197,3,2020-05-10 19:41:21,39.2628,-76.5670,Baltimore,MD,4589.0,Keith Ave,At I-95 - Accident.
257,2,2020-07-22 13:40:40,39.3276,-77.5829,Knoxville,MD,3501.0,Olive School Rd,Accident on MD-464 Point Of Rocks Rd at Olive ...
316,2,2019-10-22 14:15:53,39.1870,-77.1698,Montgomery Village,MD,8456.0,E Village Ave,Accident on Village Ave at Doubleland Rd.

In [7]:
maryland_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52755 entries, 73 to 2906603
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Severity     52755 non-null  int64
 1   Date/Time    52755 non-null  object
 2   Latitude     52755 non-null  float64
 3   Longitude    52755 non-null  float64
 4   City         52752 non-null  object
 5   State        52755 non-null  object
 6   Number       13236 non-null  float64
 7   Street       52755 non-null  object
 8   Description  52755 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 4.0+ MB

In [8]:
maryland_df['Number'] = maryland_df['Number'].fillna(0)

In [9]:
maryland_df['Number'] = maryland_df['Number'].map("{:.0f}".format)

In [10]:
maryland_df['Number'].replace({"0": ""}, inplace=True)

In [11]:
maryland_df.to_csv('../State_csv_files/Maryland.csv', encoding='UTF-8', index=False)