In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
massachusetts_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "MA"]
massachusetts_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
155,2,2020-05-17 16:45:17,42.430195,-71.103012,Medford,MA,NaN,I-93 N,Accident on I-93 Northbound at Exit 33 MA-28 F...
157,1,2020-06-20 02:44:37,41.958900,-71.063670,Raynham,MA,NaN,I-495 N,Between RT-24/Exit 7 and Bay St/Exit 9 - Accid...
305,3,2017-03-23 16:26:25,42.167667,-71.937218,Charlton,MA,NaN,I-90 E,Two lanes blocked due to accident on I-90 East...
448,3,2020-03-23 17:54:24,42.245310,-71.199000,Dedham,MA,NaN,High St,Ramp to RT-109/High St Eastbound - Vehicle spu...
547,2,2018-01-07 13:10:34,42.212754,-71.148947,Dedham,MA,NaN,MA-128 N,At Canton St - Accident.
...,...,...,...,...,...,...,...,...,...
2905945,2,2020-06-10 10:58:34,42.242760,-70.995920,Quincy,MA,124.0,Quincy Ave,At RT-53/Southern Artery/Falls Blvd - Accident...
2906153,2,2017-03-15 06:07:08,42.700758,-70.967621,Georgetown,MA,NaN,I-95 S,At RT-97/Killam Hill Rd/Exit 53 - Accident.
2906288,3,2020-02-24 11:51:00,42.156017,-72.791985,Westfield,MA,NaN,West Rd,Accident on I-90 Westbound at West Rd.
2906294,2,2020-04-17 13:48:24,42.331530,-71.254440,Newton Lower Falls,MA,NaN,I-95 N,At Grove St/Exit 22 - Accident.
2906389,2,2018-08-30 08:08:21,42.457596,-70.949982,Lynn,MA,341.0,Lynnway,Accident on MA-1A Lynnway near Bubier St.

In [6]:
massachusetts_df = massachusetts_df.round(decimals=4)
massachusetts_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
155,2,2020-05-17 16:45:17,42.4302,-71.1030,Medford,MA,NaN,I-93 N,Accident on I-93 Northbound at Exit 33 MA-28 F...
157,1,2020-06-20 02:44:37,41.9589,-71.0637,Raynham,MA,NaN,I-495 N,Between RT-24/Exit 7 and Bay St/Exit 9 - Accid...
305,3,2017-03-23 16:26:25,42.1677,-71.9372,Charlton,MA,NaN,I-90 E,Two lanes blocked due to accident on I-90 East...
448,3,2020-03-23 17:54:24,42.2453,-71.1990,Dedham,MA,NaN,High St,Ramp to RT-109/High St Eastbound - Vehicle spu...
547,2,2018-01-07 13:10:34,42.2128,-71.1489,Dedham,MA,NaN,MA-128 N,At Canton St - Accident.

In [7]:
massachusetts_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25121 entries, 155 to 2906389
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Severity     25121 non-null  int64
 1   Date/Time    25121 non-null  object
 2   Latitude     25121 non-null  float64
 3   Longitude    25121 non-null  float64
 4   City         25121 non-null  object
 5   State        25121 non-null  object
 6   Number       8041 non-null   float64
 7   Street       25121 non-null  object
 8   Description  25121 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 1.9+ MB

In [8]:
massachusetts_df['Number'] = massachusetts_df['Number'].fillna(0)

In [9]:
massachusetts_df['Number'] = massachusetts_df['Number'].map("{:.0f}".format)

In [10]:
massachusetts_df['Number'].replace({"0": ""}, inplace=True)

In [11]:
massachusetts_df.to_csv('../State_csv_files/Massachusetts.csv', encoding='UTF-8', index=False)