In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import json
import geojson

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data['Severity'].value_counts()

2    2129263
3     629452
4     119144
1      28751
Name: Severity, dtype: int64

In [4]:
sample_df = accidents_data.sample(n=10000)

In [5]:
sample_df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
969711,A-969712,2,2016-09-02 20:07:42,2016-09-02 20:52:42,33.777672,-117.889282,33.777672,-117.889282,0.000,Accident on CA-22 Westbound before The City Dr...,...,False,False,False,False,False,False,Night,Night,Day,Day
1122726,A-1122727,2,2020-09-01 07:11:06,2020-09-01 08:32:58,29.592060,-95.222267,29.592060,-95.222267,0.000,Accident on Hughes Rd at Beamer Rd.,...,False,False,False,False,True,False,Day,Day,Day,Day
1558753,A-1558754,2,2019-04-04 08:35:48,2019-04-04 09:05:32,30.482685,-84.308937,30.482685,-84.308937,0.000,Lane blocked due to accident on I-10 Eastbound...,...,False,False,False,False,False,False,Day,Day,Day,Day
2263206,A-2263207,2,2017-08-02 11:33:33,2017-08-02 12:03:23,36.870014,-76.282860,36.870014,-76.282860,0.000,Accident on 25th St at Monticello Ave.,...,False,False,False,False,False,False,Day,Day,Day,Day
2761015,A-2761016,2,2020-12-17 20:44:00,2020-12-17 23:40:35,37.701370,-121.877423,37.701254,-121.876559,0.048,EB 580 JWO SANTA RITA. 2 VEH TC,...,False,False,False,False,False,False,Night,Night,Night,Night

In [6]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 969711 to 1478541
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     10000 non-null  object
 1   Severity               10000 non-null  int64
 2   Start_Time             10000 non-null  object
 3   End_Time               10000 non-null  object
 4   Start_Lat              10000 non-null  float64
 5   Start_Lng              10000 non-null  float64
 6   End_Lat                9051 non-null   float64
 7   End_Lng                9051 non-null   float64
 8   Distance(mi)           10000 non-null  float64
 9   Description            10000 non-null  object
 10  Number                 3551 non-null   float64
 11  Street                 10000 non-null  object
 12  Side                   10000 non-null  object
 13  City                   10000 non-null  object
 14  County                 10000 non-null  object
 15  State                  10000 non-null  object
 16  Zipcode                9991 non-null   object
 17  Country                10000 non-null  object
 18  Timezone               9987 non-null   object
 19  Airport_Code           9977 non-null   object
 20  Weather_Timestamp      9836 non-null   object
 21  Temperature(F)         9773 non-null   float64
 22  Wind_Chill(F)          5939 non-null   float64
 23  Humidity(%)            9760 non-null   float64
 24  Pressure(in)           9809 non-null   float64
 25  Visibility(mi)         9750 non-null   float64
 26  Wind_Direction         9775 non-null   object
 27  Wind_Speed(mph)        8940 non-null   float64
 28  Precipitation(in)      5501 non-null   float64
 29  Weather_Condition      9753 non-null   object
 30  Amenity                10000 non-null  bool
 31  Bump                   10000 non-null  bool
 32  Crossing               10000 non-null  bool
 33  Give_Way               10000 non-null  bool
 34  Junction               10000 non-null  bool
 35  No_Exit                10000 non-null  bool
 36  Railway                10000 non-null  bool
 37  Roundabout             10000 non-null  bool
 38  Station                10000 non-null  bool
 39  Stop                   10000 non-null  bool
 40  Traffic_Calming        10000 non-null  bool
 41  Traffic_Signal         10000 non-null  bool
 42  Turning_Loop           10000 non-null  bool
 43  Sunrise_Sunset         10000 non-null  object
 44  Civil_Twilight         10000 non-null  object
 45  Nautical_Twilight      10000 non-null  object
 46  Astronomical_Twilight  10000 non-null  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 2.8+ MB

In [ ]:
# new = accidents_data.loc[(accidents_data['Severity'] == 1)]
# new.head()

In [ ]:
accidents_data = accidents_data.round(decimals=4)
accidents_data.head()

In [ ]:
accidents_data.info()

In [ ]:
empty = new.loc[new['City'] == "NaN"]
empty

# null_columns = new.columns[new.isnull().any()]
# new[null_columns].isnull().sum

In [ ]:
accidents_data=accidents_data[accidents_data['City'].notna()]
accidents_data.head()

In [ ]:
new_df.info()

In [ ]:
print(new[new['City'].isnull()][null_columns])

In [ ]:
new.info()

In [7]:
def data2geojson(sample_df):
    features = []
    insert_features = lambda X: features.append(
            geojson.Feature(geometry=geojson.Point((X["Start_Lng"],
                                                    X["Start_Lat"])),
                            properties=dict(datetime=X["Start_Time"],
                                            severity=X["Severity"],
                                            city=X["City"],
                                            state=X["State"],
                                            description=X["Description"])))
    sample_df.apply(insert_features, axis=1)
    with open('USA_all_accidents_sample.geojson', 'w', encoding='utf8') as fp:
        geojson.dump(geojson.FeatureCollection(features), fp, sort_keys=True, ensure_ascii=False)


data2geojson(sample_df)