In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
kentucky_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "KY"]
kentucky_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
240,2,2018-12-19 12:16:05,38.235830,-85.616390,Louisville,KY,NaN,I-64 W,At I-264/Watterson Expy/Exit 12 - Accident. Ce...
315,3,2019-12-29 13:10:15,38.258007,-85.765343,Louisville,KY,909.0,W Main St,Two lanes blocked and right hand shoulder bloc...
322,3,2018-11-13 07:41:34,38.111683,-85.672958,Louisville,KY,NaN,I-265 W,Accident on exit ramp from I-265 Southbound at...
615,3,2020-03-02 17:02:24,38.235870,-85.658455,Louisville,KY,NaN,Cannons Ln,Left lane blocked due to accident on I-64 West...
1077,2,2019-07-13 13:02:13,38.401960,-85.371130,La Grange,KY,NaN,I-71 S,At KY-53/Exit 22 - Accident. Roadway reduced t...
...,...,...,...,...,...,...,...,...,...
2905322,3,2018-02-14 18:28:10,38.118057,-85.643456,Louisville,KY,NaN,Smyrna Pkwy,Right lane blocked due to accident on I-265 So...
2905428,2,2017-12-04 08:02:56,38.959534,-84.342720,Alexandria,KY,2327.0,AA Hwy,Accident on KY-9 AA Hwy at Ridgewood Dr.
2905478,2,2018-12-07 07:39:03,38.008709,-84.455200,Lexington,KY,2750.0,Richmond Rd,Accident on Patchen Dr both ways at Richmond Rd.
2905863,2,2017-09-15 05:46:01,39.028893,-84.617004,Erlanger,KY,3799.0,Houston Rd,Accident on KY-236 Donaldson Hwy from I-71 to ...
2906040,2,2017-09-26 20:54:53,36.681698,-86.252625,Adolphus,KY,6532.0,New Gallatin Rd,Accident on US-31E New Gallatin Rd Southbound ...

In [6]:
kentucky_df = kentucky_df.round(decimals=4)
kentucky_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
240,2,2018-12-19 12:16:05,38.2358,-85.6164,Louisville,KY,NaN,I-64 W,At I-264/Watterson Expy/Exit 12 - Accident. Ce...
315,3,2019-12-29 13:10:15,38.2580,-85.7653,Louisville,KY,909.0,W Main St,Two lanes blocked and right hand shoulder bloc...
322,3,2018-11-13 07:41:34,38.1117,-85.6730,Louisville,KY,NaN,I-265 W,Accident on exit ramp from I-265 Southbound at...
615,3,2020-03-02 17:02:24,38.2359,-85.6585,Louisville,KY,NaN,Cannons Ln,Left lane blocked due to accident on I-64 West...
1077,2,2019-07-13 13:02:13,38.4020,-85.3711,La Grange,KY,NaN,I-71 S,At KY-53/Exit 22 - Accident. Roadway reduced t...

In [7]:
kentucky_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15296 entries, 240 to 2906040
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Severity     15296 non-null  int64
 1   Date/Time    15296 non-null  object
 2   Latitude     15296 non-null  float64
 3   Longitude    15296 non-null  float64
 4   City         15296 non-null  object
 5   State        15296 non-null  object
 6   Number       4367 non-null   float64
 7   Street       15296 non-null  object
 8   Description  15296 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 1.2+ MB

In [8]:
kentucky_df['Number'] = kentucky_df['Number'].fillna(0)

In [9]:
kentucky_df['Number'] = kentucky_df['Number'].map("{:.0f}".format)

In [10]:
kentucky_df['Number'].replace({"0": ""}, inplace=True)

In [11]:
kentucky_df.to_csv('../State_csv_files/Kentucky.csv', encoding='UTF-8', index=False)