In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [5]:
illinois_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "IL"]
illinois_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
81,2,2017-05-07 15:44:45,41.773296,-87.993965,Downers Grove,IL,6301.0,Fairview Ave,Accident on 63rd St at Fairview Ave.
95,2,2016-12-30 06:54:29,41.801750,-88.167370,Warrenville,IL,NaN,Winfield Rd,At CR-53/Diehl Rd - Accident.
98,2,2019-10-21 13:23:13,42.229309,-88.144798,Barrington,IL,25225.0,N IL Route 59,Lane blocked due to accident on IL-59 Southbou...
253,2,2019-11-26 09:05:35,39.865639,-88.972939,Decatur,IL,2197.0,N Oakland Ave,Right lane closed due to accident on IL-48 Sou...
347,2,2020-10-14 12:12:00,42.153564,-87.988268,Arlington Heights,IL,4299.0,N Highland Ln,Stationary traffic from IL-53 (Lake Cook Rd) t...
...,...,...,...,...,...,...,...,...,...
2906255,2,2016-08-24 08:06:57,42.035141,-88.311874,Elgin,IL,1400.0,Larkin Ave,Accident on McLean Blvd at Larkin Ave.
2906267,2,2017-04-05 11:17:44,42.032300,-88.328910,Elgin,IL,2098.0,Larkin Ave,At Airlite St - Accident.
2906366,3,2020-02-07 14:33:10,41.884502,-87.645973,Chicago,IL,NaN,W Randolph St,Left lane blocked due to accident on I-90 Kenn...
2906471,3,2020-02-14 16:27:21,42.305950,-87.959660,Libertyville,IL,2286.0,W Buckley Rd,At IL-21/N Milwaukee Ave - Accident.
2906575,2,2016-12-09 11:28:52,41.385136,-88.192800,Channahon,IL,NaN,I-55 S,At River Rd/Exit 241 - Accident.

In [6]:
illinois_df = illinois_df.round(decimals=4)
illinois_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
81,2,2017-05-07 15:44:45,41.7733,-87.9940,Downers Grove,IL,6301.0,Fairview Ave,Accident on 63rd St at Fairview Ave.
95,2,2016-12-30 06:54:29,41.8018,-88.1674,Warrenville,IL,NaN,Winfield Rd,At CR-53/Diehl Rd - Accident.
98,2,2019-10-21 13:23:13,42.2293,-88.1448,Barrington,IL,25225.0,N IL Route 59,Lane blocked due to accident on IL-59 Southbou...
253,2,2019-11-26 09:05:35,39.8656,-88.9729,Decatur,IL,2197.0,N Oakland Ave,Right lane closed due to accident on IL-48 Sou...
347,2,2020-10-14 12:12:00,42.1536,-87.9883,Arlington Heights,IL,4299.0,N Highland Ln,Stationary traffic from IL-53 (Lake Cook Rd) t...

In [7]:
illinois_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77626 entries, 81 to 2906575
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Severity     77626 non-null  int64
 1   Date/Time    77626 non-null  object
 2   Latitude     77626 non-null  float64
 3   Longitude    77626 non-null  float64
 4   City         77625 non-null  object
 5   State        77626 non-null  object
 6   Number       33119 non-null  float64
 7   Street       77626 non-null  object
 8   Description  77626 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 5.9+ MB

In [8]:
illinois_df['Number'] = illinois_df['Number'].fillna(0)

In [9]:
illinois_df['Number'] = illinois_df['Number'].map("{:.0f}".format)

In [10]:
illinois_df['Number'].replace({"0": ""}, inplace=True)

In [11]:
illinois_df.to_csv('../State_csv_files/Illinois.csv', encoding='UTF-8', index=False)