In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the accidents CSV into Pandas DataFrame
accidents_data = pd.read_csv('../US_Accidents_Dec20_Updated.csv')
accidents_data.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,2,2019-05-21 08:29:55,2019-05-21 09:29:40,34.808868,-82.269157,34.808868,-82.269157,0.0,Accident on Tanner Rd at Pennbrooke Ln.,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-2,2,2019-10-07 17:43:09,2019-10-07 19:42:50,35.090080,-80.745560,35.090080,-80.745560,0.0,Accident on Houston Branch Rd at Providence Br...,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-3,2,2020-12-13 21:53:00,2020-12-13 22:44:00,37.145730,-121.985052,37.165850,-121.988062,1.4,Stationary traffic on CA-17 from Summit Rd (CA...,...,False,False,False,False,False,False,Night,Night,Night,Night
3,A-4,2,2018-04-17 16:51:23,2018-04-17 17:50:46,39.110390,-119.773781,39.110390,-119.773781,0.0,Accident on US-395 Southbound at Topsy Ln.,...,False,False,False,False,True,False,Day,Day,Day,Day
4,A-5,3,2016-08-31 17:40:49,2016-08-31 18:10:49,26.102942,-80.265091,26.102942,-80.265091,0.0,Accident on I-595 Westbound at Exit 4 / Pine I...,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
accidents_data_dropped = accidents_data[['Severity', 'Start_Time', 'Start_Lat', 'Start_Lng', 'City', 'State', 'Number', 'Street', 'Description']]
accidents_data_dropped.head()

,Severity,Start_Time,Start_Lat,Start_Lng,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [4]:
accidents_data_dropped.rename(columns={"Start_Time": "Date/Time", "Start_Lat": "Latitude", "Start_Lng": "Longitude"}, errors="raise", inplace=True)
accidents_data_dropped.head()

C:\Users\frost\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
0,2,2019-05-21 08:29:55,34.808868,-82.269157,Greenville,SC,439.0,Tanner Rd,Accident on Tanner Rd at Pennbrooke Ln.
1,2,2019-10-07 17:43:09,35.090080,-80.745560,Charlotte,NC,3299.0,Providence Branch Ln,Accident on Houston Branch Rd at Providence Br...
2,2,2020-12-13 21:53:00,37.145730,-121.985052,Los Gatos,CA,NaN,Santa Cruz Hwy,Stationary traffic on CA-17 from Summit Rd (CA...
3,2,2018-04-17 16:51:23,39.110390,-119.773781,Carson City,NV,NaN,US Highway 395 S,Accident on US-395 Southbound at Topsy Ln.
4,3,2016-08-31 17:40:49,26.102942,-80.265091,Fort Lauderdale,FL,NaN,I-595 W,Accident on I-595 Westbound at Exit 4 / Pine I...

In [6]:
alabama_df = accidents_data_dropped.loc[accidents_data_dropped['State'] == "AL"]
alabama_df

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
142,2,2019-08-15 12:43:53,34.753899,-86.740997,Madison,AL,NaN,Hughes Rd,Accident on US-72 Westbound at Hughes Rd.
212,2,2019-10-24 21:52:29,33.494110,-86.330162,Cropwell,AL,84.0,Mount Pisgah Dr,Accident on US-231 Northbound at Mount Pisgah Dr.
414,2,2017-09-07 16:13:15,30.877176,-88.044342,Satsuma,AL,NaN,Highway 43,Accident on US-43 at I-65.
435,3,2018-06-26 17:34:42,33.411137,-86.970207,Bessemer,AL,1276.0,19th St N,Accident on I-59 I-20 Southbound between Exit ...
488,2,2019-05-17 10:46:48,34.739841,-86.662178,Huntsville,AL,NaN,Old Monrovia Rd NW,Lane blocked due to accident on US-72 Universi...
...,...,...,...,...,...,...,...,...,...
2906306,2,2020-09-17 23:40:30,30.738490,-88.110877,Mobile,AL,NaN,I-65 S,Queuing traffic on I-65 from US-45/AL-17/Saint...
2906350,2,2019-05-16 13:49:53,31.190481,-85.401558,Dothan,AL,NaN,Ross Clark Cir,Lane blocked due to accident on US-231 Ross Cl...
2906390,4,2020-11-07 01:10:00,33.402594,-86.977593,Bessemer,AL,NaN,I-20 W,Incident on I-20 WB near MM 110 Road closed. T...
2906533,2,2018-05-09 20:50:16,32.980888,-86.689697,Jemison,AL,NaN,I-65 S,Accident on exit ramp from I-65 Southbound at ...
2906573,2,2019-09-11 12:05:41,31.785810,-85.965050,Troy,AL,921.0,Highway 231 S,At Highway 231 - Accident. Right lane blocked.

In [7]:
alabama_df = alabama_df.round(decimals=4)
alabama_df.head()

,Severity,Date/Time,Latitude,Longitude,City,State,Number,Street,Description
142,2,2019-08-15 12:43:53,34.7539,-86.7410,Madison,AL,NaN,Hughes Rd,Accident on US-72 Westbound at Hughes Rd.
212,2,2019-10-24 21:52:29,33.4941,-86.3302,Cropwell,AL,84.0,Mount Pisgah Dr,Accident on US-231 Northbound at Mount Pisgah Dr.
414,2,2017-09-07 16:13:15,30.8772,-88.0443,Satsuma,AL,NaN,Highway 43,Accident on US-43 at I-65.
435,3,2018-06-26 17:34:42,33.4111,-86.9702,Bessemer,AL,1276.0,19th St N,Accident on I-59 I-20 Southbound between Exit ...
488,2,2019-05-17 10:46:48,34.7398,-86.6622,Huntsville,AL,NaN,Old Monrovia Rd NW,Lane blocked due to accident on US-72 Universi...

In [8]:
alabama_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33290 entries, 142 to 2906573
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Severity     33290 non-null  int64
 1   Date/Time    33290 non-null  object
 2   Latitude     33290 non-null  float64
 3   Longitude    33290 non-null  float64
 4   City         33290 non-null  object
 5   State        33290 non-null  object
 6   Number       11480 non-null  float64
 7   Street       33290 non-null  object
 8   Description  33290 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 2.5+ MB

In [9]:
alabama_df['Number'] = alabama_df['Number'].fillna(0)

In [10]:
alabama_df['Number'] = alabama_df['Number'].map("{:.0f}".format)

In [11]:
alabama_df['Number'].replace({"0": ""}, inplace=True)

In [ ]:
alabama_df.reset_index(drop=True, inplace=True)
alabama_df.head()

In [12]:
alabama_df.to_csv('../State_sample_csv/Alabama.csv', encoding='UTF-8', index=False)